@model Colegio.Models.Aluno

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlunoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlunoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlunoRg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlunoRg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AlunoId }) |
    @Html.ActionLink("Inicio", "Index")
</p>
